{% extends 'layout.njk' %}
{% block content %}
<main class="not-sidebar region flow">
    <h1>{{ title }} </h1>
        <p>Fortnite Battle Royale is a player-versus-player game for up to 100 players, allowing one to play alone, in a duo, or in a squad (usually consisting of three or four players). Weaponless players airdrop from a "Battle Bus" that crosses the game's map.</p>
</main>
{% endblock %}