{% extends "layout.njk" %}
{% block content %}
<main class="not-sidebar region flow">
  <h1>Fortnite dropspots</h1>
  <h2>Mitt favorit ställe</h2>
  <img src="/img/fortnitekarta.jpg" alt="">

    <ul>
    
        
  </main>

  {% endblock %}