{% extends "layout.njk" %}
{% block content %}
<main class="container">
  <h1>{{ title }}</h1>
  <img src="/img/borgor.jpeg" alt="">
  <h1>Borgar many</h1>
    <ul>
    
        <li>Double Cheese Burger - 30kr</li>
        <li>Triple Cheese Burger - 40kr</li>
        <li>Quadruple Cheese Burger - 50kr</li>
        <li>Quintuple Cheese Burger - 60kr</li>
        <li>Sextuple Cheese Burger - 70kr</li>
        <li>Septuple Cheese Burger - 80kr</li>
        <li>Octuple Cheese Burger - 90kr</li>
        <li>Nonuple Cheese Burger - 100kr</li>
        <li>Decuple Cheese Burger - 110kr</li>
        <li>Undecuple Cheese Burger - 120kr</li>
        <li>Duodecuple Cheese Burger - 130kr</li>
        <li>Tridecuple Cheese Burger - 140kr</li>
        <li>Tetradecuple Cheese Burger - 150kr</li>
       </ul>
  </main>

  {% endblock %}